:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
}

.dark-theme{
    --primary-color:#000106;
    --secondary-color:#fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    text-align: center;
}

.logo img{
  height: 4rem;
  width: 4rem;
}

.navpages {
    width: 50%;
    text-align: center;
}

.navpages nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
  }

  .navpages nav {
    display: flex;
    align-items: center; 
  }
  
  .moonimg {
    width: 50px; 
    margin-left: 50px;
    cursor: pointer;
    opacity: 0.2; 
  }
 
.moonimg:hover {
    opacity: 1;
}
  .navpages nav ul li a:hover {
    color: orange;
  }
  
  /* Display list items in the same line */
  .navpages nav ul li {
    display: inline;
    padding: 8px;
  }
.container {
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.header_container {
    margin-bottom: 2.8em;
}

.header_title {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc {
    max-width: 768px;
    text-align: center;
    color: var(--secondary-color);
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
}

.main_container {
    gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width:924px) {
    .main_container {
         grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1524px) {
    .main_container {
         grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1999px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
}


.card_container {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.card_image_container {
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container {
    display: flex;
    color: var(--secondary-color);
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .card_image {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: var(--secondary-color);
}

.card_title_anchor:hover .card_title {
    color: rgb(59, 59, 216);
}

.card_desc {
    color: var(--secondary-color);
    font-size: 1rem;
}

.card_footer_container {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}

.author_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author_avtar_container {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 50%;
}

.author_info_container {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

.author_name {
    color: var(--secondary-color);
}

.author_date {
    color: var(--secondary-color);
}

.card_tag_container {
    font-size: 0.9rem;
    border: 1px solid rgb(76, 71, 71);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: var(--secondary-color);
}

footer{
    color: var(--primary-color);
    background: var(--secondary-color);
    text-align: center;
    font-size: 2rem;
}